{
    "name": "QnaSlotType",
    "identifier": "SWPQR42QYV",
    "description": null,
    "slotTypeValues": ${slot_types},
    "parentSlotTypeSignature": null,
    "valueSelectionSetting": {
      "resolutionStrategy": "ORIGINAL_VALUE",
      "regexFilter": null
    }
  }