{
    "name": "QnaSlotType",
    "identifier": "SWPQR42QYV",
    "description": null,
    "slotTypeValues": [
      {
        "sampleValue": {
          "value": "how do I reset my password?"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "I forgot my password"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "Can't remember my password"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "My login does not work"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "help my gas is leaking"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "emergency leak"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "I smell gas in my house"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "what should i do if my pilot light is out?"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "help with pilot light on furnace"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "can't see pilot light?"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "exit"
        },
        "synonyms": null
      },
      {
        "sampleValue": {
          "value": "quit"
        },
        "synonyms": null
      }
    ],
    "parentSlotTypeSignature": null,
    "valueSelectionSetting": {
      "resolutionStrategy": "ORIGINAL_VALUE",
      "regexFilter": null
    }
  }